.Dropdown {
  position: relative;
}

.Dropdown-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 0 15px 0 0;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.Dropdown-btn img {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 38px;
  height: 38px;
  margin-right: 5px;
}

.Dropdown-btn span {
  white-space: nowrap;
}

.Dropdown-btn::after {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  border: solid #000;
  border-width: 0 1px 1px 0;
  position: absolute;
  right: 0;
}

.Dropdown-btn.arrowUp::after {
  top: calc(50% + 2px);
  transform: translateY(-50%) rotate(225deg);
}

.Dropdown-btn.arrowDown::after {
  top: calc(50% - 1px);
  transform: translateY(-50%) rotate(45deg);
}

@keyframes slideDown{
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}

.Dropdown-menu {
  position: absolute;
  z-index: 1;
  top: calc(100% + 2px);
  right: -1px;
  min-width: 100%;
  box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.35);
  animation: 0.4s slideDown ease-in;
  overflow-y: hidden;
}

.Dropdown-menu nav {
  display: flex;
  flex-direction: column;
}

.Dropdown-menu a {
  padding: 5px 8px;
  background-color: #eee;
  white-space: nowrap;
}

.Dropdown-menu a:hover {
  background-color: #e5e5e5;
}

.Dropdown-menu a:active {
  background-color: #eee;
}