.Gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
}

.Gallery-header {
  display: flex;
  justify-content: space-between;
}

.Gallery-header a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 5px 8px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.Gallery-card {
  flex-basis: calc(20% - 20px);
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.35);
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Gallery-imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.Gallery-imageWrapper img {
  width: 100%;
  height: auto;
}

.Gallery-cardTitle {
  text-align: center;
  background-color: #f5f5f5;
}

.Gallery-cardTitle h4 {
  padding-top: 10px;
  margin: 0 0 10px;
  border-top: 1px solid #ddd;
}

.Gallery-cardTitle p {
  margin: -5px 0 10px;
}

.Gallery-cardTitle a {
  color: #000;
  text-decoration: none;
  padding: 3px;
}

.Gallery-card:hover .Gallery-cardDeleteBtn {
  opacity: 1;
}

.Gallery-cardDeleteBtn {
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  font-weight: bold;
  font-size: 22px;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.Gallery-modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.66);
}

.Gallery-modal {
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 60px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.Gallery-modal img {
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

.Gallery-modal button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 30px;
}