.FormElement-errorMessage {
  position: absolute;
  color: red;
  margin-left: 15px;
  width: calc(100vw - 100% - 45px);
}

.FormElement-inputError {
  border-color: red;
}

.FormElement-requiredIcon {
  position: relative;
}

.FormElement-requiredIcon::after {
  content: '*';
  position: absolute;
  transform: translate(2px, -3px);
}

.FormElement-hideArrow {
  padding: 6px !important;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.FormElement-loading {
  background-image: url(../../assetts/images/preloader.svg);
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  background-size: auto 80%;
}