.AddPhoto label {
  display: inline-block;
  width: 100px;
}

.AddPhoto input {
  width: calc(100% - 100px);
  margin-bottom: 15px;
}

.AddPhoto input[type='text'] {
  padding: 5px;
}

.AddPhoto button {
  margin-left: 100px;
  padding: 5px 8px;
}