.Header {
  margin: 0 -15px;
  padding: 0 15px;
  height: 40px;
  background-color: #eee;
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.35);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header button, .Header a {
  color: #222;
  font-size: 15px;
}

.Header a {
  text-decoration: none;
  padding: 5px;
  transition: 0.15s;
}

.Header a.active, .Header a:hover {
  color: #07a;
}