.Register label, .Register input {
  width: 100%;
}

.Register input {
  margin: 5px 0 10px;
  padding: 5px;
}

.Register button {
  padding: 5px 12px;
}

.Register-socials {
  padding: 0 0 15px;
}

.Register input[type='file'] {
  padding: 0;
}